@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf')
}
@theme{
  --font-roboto: Roboto, "sans-serif";
  --font-poppins: Poppins, "sans-serif";
  --font-outfit : Outfit, "sans-serif"
}
@import "tailwindcss";

@layer base{
  img{display:initial}
}
/* src/index.css */
/* @page {
  margin: 0; 
  size: A4 portrait;
}
* {
  -webkit-print-color-adjust: exact;
}

.pdf-content {
  @apply bg-white w-10/12 mx-auto mt-10 mb-10 pb-20 font-poppins text-gray-700;
} */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
